<% provide(:title, 'Contact') %>

<h1>Contact Information</h1>

<p>
	Contact Ruby on Rails Tutorial about the sample app at the <a href="http://railstutorial.org/contact">contact page</a>.
</p>


<p>
	Contact Information
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, harum totam culpa nemo cumque similique atque esse mollitia tenetur illo. Earum, amet, quaerat excepturi modi eveniet provident obcaecati cupiditate ipsum omnis veniam aut esse dicta expedita ea delectus. Vero, sed, assumenda rem illum animi velit rerum voluptates impedit pariatur aut quibusdam eaque porro temporibus officia provident ipsa sapiente! Sint, enim voluptate dignissimos quo harum! Ut, omnis voluptas fugiat dolor reiciendis fuga quisquam magnam ratione nihil quas officiis est architecto nostrum maxime hic quae quaerat molestiae deleniti unde saepe ipsa possimus aspernatur tempora officia perspiciatis reprehenderit voluptatem modi asperiores nisi enim!</p>