<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
	<h1>Sample App</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, dolorem officiis facere repudiandae obcaecati hic quasi odit vel recusandae autem dolor sit deleniti quis architecto quaerat saepe dolorum reiciendis iste nostrum esse sint nisi porro. Fuga, sequi, neque, rerum totam tenetur ab quo nisi fugit odio veritatis pariatur nemo numquam voluptatem debitis quis corporis veniam! Praesentium, sed, quidem, consequuntur odio voluptatibus autem quia quo voluptatem officia doloremque corporis maiores omnis nobis dignissimos repellat iste vero eum exercitationem harum error soluta aliquam perspiciatis inventore dolore molestiae dolor a excepturi assumenda rem deleniti maxime blanditiis libero sequi accusamus sapiente facilis culpa ullam!
</p>
</body>

</html>
